.calculation{
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;

    .screen{
        padding: 1.65625rem 1.5625rem 1.65625rem 0;
        text-align: right;
        background-color: var(--screen-bkg);
        border-radius: .5em;

        @include breakpoint(large){
            padding: 2.46875rem 2.25rem 2.46875rem 0px;

            h2{
                font-size: 2.8125rem;
            }
        }
    }
    
    .keyboard{
        padding: 1.5rem;
        background-color: var(--tggle-bkg);
        border-radius: .5rem;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 1.125rem 0.8125rem;

        @include breakpoint(large){
            padding: 1.9375rem;
            gap: 1.79rem 1.5rem;
        }

        button{
            height: 3.75rem;
            padding: 1.09375rem 0;
            font-family: $ft-family;
            font-size: 1.5625rem;
            color: var(--grayish-blue, #444b5a);
            border: none;
            border-radius: 0.24em;
            background-color: var(--key-bkg-ltorange);
            box-shadow: var(--shadow-box) var(--key-shadow-gryorange);

            &:last-child{
                color: var(--drk-blue, var(--white));
                background-color: var(--key-toggle);
                box-shadow: var(--shadow-box) var(--key-red-shadow);
            }

            @include breakpoint(large){
                font-size: 1.8125rem;
                padding: 0.517em 0;
            }
        }

        .col-lg{
            width: 100%;
            grid-column: span 2;
        }

        .ft-sml{
            font-size: 1.0625rem;
            background-color: var(--key-bkg);
            color: var(--white);
            box-shadow: var(--shadow-box) var(--key-shadow);
        }
    }
}